* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body, html {

    font-family: Arial, sans-serif;

    text-align: center;

    height: 100vh;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    background-color: #222;

}


.gradient-background {

    width: 100%;

    height: 1300vh;

    background: linear-gradient(-45deg, #ff9800, #9c27b0, #ffcc80, #7b1fa2);

    background-size: 400% 400%;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    animation: gradientAnimation 6s ease infinite;

}


@keyframes gradientAnimation {

    0% { background-position: 0% 50%; }

    50% { background-position: 100% 50%; }

    100% { background-position: 0% 50%; }

}


.main-container {

    background-color: black;

    color: white;

    padding: 50px 20px;  

    width: 80%;  

    max-width: 600px; 

    border-radius: 10px;

    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);

    margin-top: 850px; 

}



.login-message h1 {

    font-size: 28px;  

    margin-bottom: 20px;

}


.social-media {

    margin-top: 30px;

}

.social-item {

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: #333;

    padding: 15px; 

    border-radius: 8px;

    width: 90%;  

    max-width: 300px; 

    margin: 10px auto;

    cursor: pointer;

    transition: background-color 0.3s ease;

}

.social-item:hover {

    background-color: #444;

}

.social-item img {

    width: 50px; 

    margin-right: 10px;

}

.social-item span {

    font-size: 22px;  

    font-weight: bold;

}


.pricing-section {

    background-color: #222;

    padding: 20px;

    margin-top: 20px;

    width: 80%;

    max-width: 600px;

    border-radius: 10px;

    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);

}

.pricing-container {

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 15px;

}

.pricing-card {

    background-color: #444;

    padding: 20px;

    border-radius: 8px;

    width: 140px; 

    display: flex;

    flex-direction: column;

    align-items: center;

}

.header-text, .pricing-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.pricing-card span {

    font-size: 20px; 

    color: white;

    margin-bottom: 10px;

}

.buy-btn {

    background-color: #ff9800;

    color: white;

    border: none;

    padding: 10px 20px; 

    border-radius: 5px;

    cursor: pointer;

    font-size: 18px;

}

.buy-btn:hover {

    background-color: #e68900;

}
